Title: "home"
---
<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1 class="display-1">Hi, I'm Matt.</h1>
            <p class="lead">
                I'm a technology guy who works in the software engineering space managing development teams. Besides work I have a pretty serious Jeep hobby, practice yoga, play a lot of <abbr title="frisbee">ultimate</abbr>, and
                snap a few photos from time to time.
            </p>
        </div>
        <div class="col-md-3">
            <img src="/assets/me.webp" class="rounded pull-xs-right" alt="Me">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Work</h2>
        <p>
            I co-founded and was a partner / owner at iMobile3 (now <a href="https://www.vitalpos.com">Vital</a>), a mobile payments company. We were acquired by TSYS, now <a href="https://www.globalpaymentsinc.com/">Global Payments</a>, in
            June 2018.
        </p>
        <p>After a successful transition I left Global and am now an engineering manager at <a href="https://www.olo.com/">Olo</a> using my knowledge of customer loyalty and payments processing.</p>
        <p>My resumé is available on <a href="https://www.linkedin.com/in/withinfocus">LinkedIn</a>.</p>
    </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>I have always enjoyed photography (mostly portraits and landscapes) and maintain a <a href="https://portfolio.withinfocus.com">portfolio</a>.</p>
        <p>My Jeep uses up my free weekends usually and has been a <a href="https://www.pirate4x4.com/forum/jeep-hardcore-tech/808300-project-yellow-jacket.html">long-term project</a>.</p>
        <p>I have practiced <a href="https://www.baptisteyoga.com/">Baptiste</a> yoga for a number of years and am a <abbr title="RYT-200">certified teacher</abbr> with <a href="https://www.mbodyyoga.com/">MBody Yoga</a>.</p>
        <p>I live in a home built in the 1890s with my family in <a href="https://www.sparcouncil.org/where_are_we">historic Springfield</a> along with some backyard chickens and a French bulldog.</p>
    </div>
    <div class="col-md-4">
        <h2>Links</h2>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fab fa-facebook fa-lg"></i></span> <a href="https://www.facebook.com/withinfocus">Friends-only, baby</a></li>
            <li><span class="fa-li"><i class="fab fa-twitter fa-lg"></i></span> <a href="https://twitter.com/withinfocus">Occasional ramblings</a></li>
            <li><span class="fa-li"><i class="fab fa-instagram fa-lg"></i></span> <a href="https://www.instagram.com/withinfocus">Capturing moments</a></li>
            <li><span class="fa-li"><i class="fab fa-github fa-lg"></i></span> <a href="https://github.com/withinfocus">Open source or die</a></li>
            <li><span class="fa-li"><i class="fab fa-stack-overflow fa-lg"></i></span> <a href="https://stackoverflow.com/users/553125/matt-bishop">Helping the community</a></li>
        </ul>
    </div>
</div>
