Title: "work"
Entity: "withinfocus, Inc"
---
<div class="p-5 mb-5 bg-light rounded-2 jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-1">withinfocus, Inc.</h1>
            <p class="lead">
                We provide software development consultancy services along with technical training. We are comfortable managing large groups of developers and creative staff for projects and serving as the technology leader for
                client engagements, teaching teams how to be better and deliver faster.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Training</h2>
        <p>
            We have over a decade of building software development teams from the ground up. We can help implement developer workflows, establish source control, code review, and other best practices, as well as modernize what is already in
            place. We train teams to be performant and self-driven.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Advisorship</h2>
        <p>
            Engineering management comes with its own set of challenges. We consult with organizations to walk through their processes, identify problem areas, and propose solutions. We act as an on-demand resource for architectural and
            management needs.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Speaking</h2>
        <p>
            From multi-day sessions to subject-matter-specific events, we regularly speak about engineering modernization and evangelize technologies we believe in. We'll attend your event and share our thoughts to your audience, large or
            small.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Contact Us</h2>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fa fa-envelope fa-lg"></i></span> <a href="mailto:matt@withinfocus.com">Send us an email</a></li>
            <li><span class="fa-li"><i class="fab fa-twitter fa-lg"></i></span> <a href="https://twitter.com/withinfocus">Connect on social media</a></li>
        </ul>
    </div>
</div>
